body {
    background: #110053a8
  }

h1 {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  text-align: center;
  color: #3ba3d3;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

h3 {
  font-size: 30px;
  text-align: center;
}

form {
  text-align: center;
}

label {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #3ba3d3;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 30px;
}

select {
  background-color: transparent;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #ffffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 30px;
}

#img-container {
  text-align: center
}

img {
  height: 300px;
  width: 204px;
  padding: 15px;
  border-radius: 20%;
  box-shadow: 5px 5px 10px #1c0f4ea8;
}

div {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  color: #3ba3d3;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#profile-img {
  height: 225px;
  width: 153px;
  padding: 5px;
  border-radius: 5%;
  float: right;
}

#profile-text {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  color: #3ba3d3;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#card {
  background-color: #25005322;
}

button {
  background-color: transparent;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #ffffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 20px;
}
